@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

footer {
  margin-top: 50px;
  height: 300px;
  background-color:#f9322c;  
}

section{
  text-align:center;
}

.footer-box {
  color: #fff;
}

