@charset "UTF-8";

header {
	color: #ffffff;
	background: #f9322c;	/*背景色、背景画像の読み込み。*/
}

header.navbar {
	color: #ffffff;
	background: #f9322c;	/*背景色、背景画像の読み込み。*/
}

.logo-text {
	margin: 0px 0px 0px 5px;
}

.reset-reboot-scss {
	color: #ffffff;
	text-decoration: none;
}

.reset-reboot-scss:hover {
	color: #ffffff;
}

svg.bi {
	margin: 0 5px;
}

.off {
	display: none;
}
