main {
  margin-bottom: 30px;
}

.wrapper {
  min-height: 350px;
}
.delete-button {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: brown;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 45px;
  text-align: center;
  text-decoration: none;
}

.msg > a:hover {
  color: brown;  
}

.msg-img {
  width: 100%;
}

.p-3 {
	color: #ffffff;
	background: rgb(29, 155, 240);	/*�w�i�F�A�w�i�摜�̓ǂݍ��݁B*/
}


